
body{
    font-family: Outfit;
    margin: 0;
    width: 100%;
    box-sizing: border-box;
}


nav{
background-color: #2B2A2B;
color: #FFFFFF;
display: flex;
height: 64px;
align-items: center;
justify-content: space-around;
width: 100%;
position: fixed;
z-index: 1000;
}

#containerLogo{
    display: flex;
    align-items: center;
    width: 186px;
    height: 36px;
    gap:7.33px
}

#containerLogo a{
text-decoration: none;
color: #FFFFFF;
}

#containerLogo:hover{
    cursor: pointer;
}

#iconCoffee{
    width: 20.53px;
    height: 24.93px;
}
#logoNav{
font-size: 23.46px;
}


#menuNav{
    display: flex;
    min-width: 512px;
    height: 32px;
    align-items: center;

}
.itemsListNav{
    display: flex;
    list-style: none;
    gap: 16px;
    align-content: center;
}

.itemsListNav li{
    height: 32px;
    display: flex;
    align-items: center;
    border-radius: 4px;
}

.itemsListNav li:hover{
    background-color: #515051;
    cursor: pointer;
}

#contactAndLoginNav{
    display: flex;
    min-width: 288px;
    height:40px;
    gap: 24px;
    align-items: center;
}

#contactNav{
    display: flex;
    align-items: center;
    min-width: 134px;
    font-size: 14px;
    gap: 8px;

}
#iconPhone{
    display: flex;
    width: 24px;
    height: 24px;

}

#buttonLoginNav{
    background-color: #515051;
    color: #FFFFFF;
    font-family: Outfit;
    height: 100%;
    border-radius: 4px;
    min-width: 130px;
    gap: 8px;
    font-size: 14px;
    line-height: 16px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    height: 40px;
}

/*-------HERO-------*/


.heroMain{
    height: 486px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 64px;
}


.wrapperHeader{
display: flex;
justify-content: center;
align-items: center;
gap: 24px;
}

.copyHeroleftSection{
width: 588px;
max-height: 232px;
display: flex;
flex-direction: column;
justify-items: center;
gap: 16px;
}

.copyHeroleftSection h3{
font-size: 18px;
line-height: 24px;
color: #2A5B45;
height: 24px;
margin: 0;
}

.copyHeroleftSection h1{
width: 588px;
height: 88px;
font-size: 40px;
line-height: 44px;
margin: 0;
}

.copyHeroleftSection p{
    height: 32px;
    font-size: 14px;
    line-height: 16px;
    margin: 0;
}

.coffeeHarvest{
display: flex;
width: 588px;
height: 390px;
border-radius: 20px;
}

.containerButtonsLeftSectionHero{
    width: 321px;
    height: 40px;
    display: flex;
    gap: 16px;


}

#buttonDiscoverCtALeftSection{
width: 168px;
height: 40px;
text-decoration: none;
background: #1F1815;
color: #FFFFFF;
display:flex;
align-items: center;
justify-content:center;
border-radius: 4px;


}

#buttonCtAbuyCoffeeLeftSection{
    width:137px;
    height: 40px;
    text-decoration: none;
    background: #2A5B45;
    color: #FFFFFF;
    display:flex;
    align-items: center;
    justify-content:center;
    font-size: 14px;
    line-height: 16px;
    border-radius: 4px;
}

/*----------MAIN-------*/

.wrapperCards{
display: flex;
background-image: url(/assets/img/cupCoffeeBgCard.png);
height: 380px;
background-size: cover;
background-repeat: no-repeat;
background-position: center;
flex-direction: column;
margin: 0;
align-items: center;
justify-content: center;
gap: 24px;
align-content: center;
}

#titleConditionsCard{
    width: 350px;
    height: 28px;
    font-size: 24px;
    line-height: 28px;
    display: flex;
    justify-content: center;
    align-content: center;
    align-items: center;
    color: #FFFFFF;
    font-weight: 500;
    margin: 0;
    padding: 0;

}
.containerCards{
    width: 996px;
    height: 232px;
    display: flex;
    gap: 24px;
    justify-content: center;
    margin: 0;
    align-content: center;
    align-items: center;

}

.cardItem{
width:316px;
height: 230px;
background-color:  #FFFFFF;
border-radius: 8px;
display: flex;
flex-direction: column;
align-items: center;
justify-content: center;
align-content: center;
text-align: center;

margin: 0;
border: 1px solid #F7F5F3;
box-shadow: 0px 1px 4px 0px #E3DED7CC;
gap: 16px;
}

.containerIconsCard{
    width: 64px;
    height: 64px;
    background: #2A5B45;
    border-radius: 20px;
    display: flex;
    justify-content: center;
    align-content: center;
    align-items: center;


}


.subtitleCards{
    width: 316px;
    height: 24px;
    display: flex;
    font-size: 18px;
    line-height: 24px;
    font-weight: 600;
    justify-content: center;
    margin: 0;
    padding: 0;

}

.textCard{
    width: 268px;
    margin: 0;
    padding: 0;
    font-size: 14px;
    line-height: 16px;
}

/*-------BOLSAS DE CAFE-------*/

    .newsSection{
         display: flex;
         flex-direction: column;
        justify-content: center;
        align-items: center;
        height: 603.39px;
        gap: 40px;

    }



    #titleNewsWrapper{
        width: 120px;
        height: 28px;
        font-weight: 500;
        font-size: 24px;
        line-height: 28px;
        color: #2A5B45;
        margin: 0;
    }

    .containerNews{
        width: 1200px;
        height: 391.39px;
        gap: 24px;
        display: flex;
        justify-content: center;
       

    }
    .newCoffee{
        
        width: 282px;
        border-radius: 8px;
        border: 1px solid #E3DED7;
        display: flex;
        flex-direction: column;
        justify-content: center;
        text-align: center;
        align-items: center;
        gap:12px;
        transition: background-color 0.5s;
    }

    .containerBagCoffee img{
        height: 219.39px;

    }

    .containerLinksforAllCoffee{
       margin: 0;;
        height: 24px;
        display: flex;
        justify-content: center;
        align-items:  center;
        gap: 16px;

    }
     .containerLinksforAllCoffee a{
        font-size: 14px;
        line-height: 16px;
    }

    .containerLinksforAllCoffee a:visited{
        color: #1F1815
    }



    .descriptionProductNews{


        text-align: center;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }

    .newCoffee:hover{
        background-color:  #f7f5f3
    }
    .newCoffee:hover .buttonAddBuyCoffee{
        background-color: #2A5B45;
    }



    .descriptionProductNews p{
        margin: 0;
        display: flex;
        padding: 6px;
    }


    .buttonAddBuyCoffee{
        min-width: 60px;
        height: 32px;
        background: #2A5B45B2;
        border-radius: 4px;
        text-decoration: none;
        display: flex;
        justify-content: center;
        align-items: center;
        line-height: 16px;
        font-size: 14px;
        color: #FFFFFF;
        margin-top: 8px;
        gap: 8px;
        transition: background-color 0.5s;
    }
 /* PREGUNTAS FRECUENTAS    */


.frequentQuestionsSection{
    background: #2A5B45;
    height: 621px;
    display: flex;
    justify-content: center;
    align-content: center;

    align-items: center;
    flex-direction: column;
    padding: 24px;
    box-sizing: border-box;
}

#frequentlyAsksQuestion {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: #ffffff;
    height: 621px;
    background: #2a5b45;
    box-sizing: border-box;
 
  }

#titleFAQ{
font-family: Outfit;
font-size: 24px;
font-weight: 500;
line-height: 28px;
color: #FFFFFF;
margin: 0;
display: flex;
padding-bottom: 24px;
}

  .imgFAQ{
    width: 20px;
    height: 20px;
  }

  #FAQWrapper {
    display: flex;
    flex-direction: column;
    /* align-items: center; */
    /* justify-content: center; */
    gap: 16px;
    color: black;
    width: 668px;
    height: 425px;
    box-sizing: border-box;
  }

  #containerAllItemsFAQ{
    display: flex;
    flex-direction: column;
    align-items: center;
    /* padding:24px; */
    gap: 24px;
    box-sizing: border-box;
  }
  
.itemQuestion{
height:72px;
border: 1px solid black;
gap: 16px;
border-radius: 10px;
display: flex;
flex-direction: column;
align-content: center;
box-sizing: border-box;
background-color: #ffffff;
overflow: hidden;
transition: height 700ms ease;
padding: 24px;
align-items:center ;
}


.containerH3{
display: flex;
justify-content: space-between;
align-items: center;
box-sizing: border-box;
width: 620px;
height: 24px;
margin: 0;
}
.secondBox{
    width: 620px;
    height: 32px;
    gap: 0px;
    box-sizing: border-box;
    font-size: 18px;
    font-weight: 600;
    line-height: 24px;
    text-align: left;
    margin: 0;
    padding-left: 20px;
    padding-right: 20px;

    transition: max-height 0.5s ease;
}
.secondBox p{
font-family: Outfit;
font-size: 12px;
font-weight: 400;
line-height: 16px;
text-align: left;
}

.itemQuestion:hover{
    
    background-color: #F7F5F3;
}

.itemQuestion #itemOne, #itemTwo, #itemThree {
transition: height 1s ease;
}

#itemOne:hover{
    height: 136px;
}
#itemTwo:hover{
    height: 168px;
}
#itemThree:hover{
    height: 136px;
}

.itemQuestion:hover .secondBox{
    border-top: 1px solid #E3DED7
}


 .itemQuestion img {
transition: transform 1s ease-in-out;    
} 

.itemQuestion:hover img{
    transform: rotate(180deg);
    transition: transform 1s ease;
}

/* --------------HOVER- -------------------------------------*/
 

  #linkIconFAQ {
    color: #ffffff;
    display: flex;
    text-decoration: underline;
    align-items: center;
    gap: 16px;
    box-sizing: border-box;

    width: 178px;
    height: 24px;
  
  }
  #linkIconFAQ a{
    font-family: Outfit;
    font-size: 14px;
    font-weight: 600;
    line-height: 16px;
    margin: 0;
    width: 138px;
    height: 16px;
  }
  #linkIconFAQ img{
    width: 24px;
    height: 24px;
  }

  #linkIconFAQ a:visited{
    color: #D1D5DB;
  } 


/* ------------------------------------------------*/

/*---Coffee Shop----*/

.sectionCoffeeShop{
    height: 480px;
    background-color: #F7F5F3;
    display: flex;
    justify-content: center;
    align-items: center;

}

.containerCoffeShop{
width: 1200px;
height: 390px;
top: 44.61px;
left: 40px;
display: flex;
justify-content: space-between;
align-items: center;
}

.containerCoffeShop .leftSection{
width: 457px;
height: 116px;
}

.containerCoffeShop .leftSection h2{
    width: 340px;
    height: 28px;
    font-size: 24px;
    font-weight: 500;
    line-height: 28px;
    color: #2A5B45;
    margin: 0;
}

.containerCoffeShop .leftSection{
width: 457px;
height: 116px;
display: flex;
gap: 16px;
flex-direction: column;

justify-content: center;
}

.containerCoffeShop .leftSection p{
    width: 457px;
    font-size: 14px;
    line-height: 16px;
    margin: 0;
}
.containerHowToGetThere{
width: 118px;
height: 24px;
display: flex;
align-items: center;
gap: 16px;
margin: 0;
font-size: 14px;
font-weight: 600;
line-height: 16px;
justify-content: center;
}

.containerHowToGetThere a:visited{
    color: black;
}

.containerHowToGetThere img{
    width: 18px;
    height: 18px;
}

#pictureCoffeeShop{
    width: 588px;
    height: 390px;
    border-radius: 20px;
}


/*-------Seccion de Contacto----------*/


#contactUsandForm{
height:100%;
height: 552px;
background: #E3DED7;
display: flex;
justify-content: center;
margin: 0;
padding: 0;


}
.containerinfoContactAndForm{
width: 1200px;
height: 552px;
/* background-color: #2A5B45; */
display: flex;
align-items: center;
justify-content: space-between;
justify-items: center;



}
.leftQuarterContactUs{
    width: 588px;
    height: 320px;
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;
    color: #6B7280;
    gap: 24px;
    

}





.headerContactLeftQuarter{
    display: flex;
    flex-direction: column;
    gap: 12px;
    width: 588px;
    height: 68px;
    margin: 0;
}

#titleHeaderContact{
    width: 588px;
    height: 24px;
    font-size: 18px;
    line-height: 24px;
    font-weight: 600;
    color: #111827;
    margin: 0;
    display: flex;
    }

.headerContactLeftQuarter p{
    width: 588px;
    height: 32px;
    font-size: 14px;
    line-height: 16px;
    margin: 0;
    padding: 0;
}

.infoContactLeftQuarter{
width: 588px;
height: 220px;
display: flex;
flex-direction: column;
margin: 0;
padding: 0;
gap: 24px;
align-content: center;
color: #6B7280;

}

#textInfoContact {
    width: 588px;
    height: 37px;
    font-size: 14px;
    font-weight: 400;
    line-height: 16px;
    display: flex;
   margin: 0;
    gap: 12px;
}

.containerPhoneandMail{
    display: flex;
    flex-direction: column;
    width: 588px;
    height: 60px;
    gap: 12px;
}
.containerPhoneandMail p{
    width: 552px;
    height: 16px;
    margin: 0;
    padding: 0;
}

.addressContact{
display: flex;
flex-direction: column;
width: 344px;
height: 27px;
}

#firstAddress{
display: flex;
margin: 0;
padding: 0;
gap: 12px;
}


.containerPhone{
width: 588px;
height: 60px;
display: flex;
flex-direction: column;

gap: 12px;
}

#infoPhone{
    display: flex;
    height: 24px;
    width: 552px;
    height: 24px;
    font-size: 14px;
    line-height: 16px;
    align-content: center;
    align-items: center;
    gap: 12px;
}

#infoPhone p{
    font-size: 14px;
    line-height: 16px;
    font-weight: 400;
}


#infoEmail{
    display: flex;
    width: 552px;
    height: 24px;
    font-size: 14px;
    line-height: 16px;
    align-content: center;
    align-items: center;
    gap: 12px;
}

.findJob{
    margin-bottom: 0px;

}

.findJob a:visited{
    color: #1F1815
}


.rightQuarterForm{
height:552px;
width: 588px;
display: flex;
justify-content: center;
align-items: center;
color: #374151;
background-color:#FFFFFF ;
margin: 0;
box-sizing: border-box;
flex-direction: column;
}

.containerForm{
width: 470px;
height: 488px;
display: flex;
gap: 24px;
flex-direction: column;
background-color: white;
justify-items: center;
box-sizing: border-box;
margin: 0;
}

.boxFullNameUser{
display: flex;
flex-direction: column;
width: 470px;
min-height: 54px;
gap: 4px;
box-sizing: border-box;
box-shadow: 0px 1px 2px 0px #0000000D;
}



.fullnameUser{
    width: 470px;
    height: 34px;
    border-radius: 6px;
    border: 1px solid #D1D5DB;
    box-sizing: border-box;
    padding-left: 10px;
    display: flex;
}



form input:focus, #comments:focus, select:focus{
    border: 2px solid #2A5B45;
    outline:none;
}

form input:hover, #comments:hover, select:hover{
    box-shadow: 0px 1px 2px 0px #0000000D;
    cursor: pointer;
}


input[type="checkbox"] {
    accent-color: #2A5B45;
}

::placeholder{
    padding-left: 10px;
    padding-top: 10px;
}

.boxEmailUser{
display: flex;
flex-direction: column;
width: 470px;
min-height: 54px;
gap: 4px;
box-sizing: border-box;
box-shadow: 0px 1px 2px 0px #0000000D;
}

.emailUser{
width: 470px;
height: 34px;
border-radius: 6px;
border: 1px solid #D1D5DB;
box-sizing: border-box;
padding-left: 10px;
}

.boxPhoneUser{
    width: 470px;
    height: 58px;
}

#containerPhoneAndText{
    width: 470px;
    height: 34px;
    border-radius: 6px;
    border: 1px solid #D1D5DB;
    display: flex;
    align-items: center;
    box-sizing: border-box;
    box-shadow: 0px 1px 2px 0px #0000000D;
    margin: 0;
    padding: 0;
    
}

#containerPhoneAndText:focus-within{
    outline: none;
    border: 1.5px solid #2A5B45;
}

#containerPhoneAndText input{
    outline: none;
    border: 0px;
}
#containerPhoneAndText select{
outline: none;
height:30px ;
border: 0px;
}


.codPhoneUser{
    width: 68px;
    height: 32px;
    border-radius: 6px 0px 0px 6px;
  text-align: center;
  /* border: 1px solid #D1D5DB; */
  border-right: none;

}

#phoneUserText{
    width: 402px;
    height: 28px;
    border-left: none;
    padding-left: 10px;
    box-sizing: border-box;
}

.containerTextArea{
height: 142px;
border-radius: 6px;
}


#containerSubmit{
border: none;
}

#containerSubmit:hover{
cursor: pointer;
}

#comments{
width: 470px;
min-height: 122px;
font-family: Outfit;
border-radius: 6px;
border: 1px solid #D1D5DB;
box-shadow: 0px 1px 2px 0px #0000000D;
box-sizing: border-box;
}

#privacyAndTerms{
    font-size: 14px;
    line-height: 16px;
    font-weight: 400;
    display: flex;
    gap: 10px;
    align-content: center;
    }

    #privacyAndTerms span{
        font-weight: 600;
    }
    #privacyAndTerms span a:visited{
        color: #374151;
    }


    #containerSubmit{
    width:90px;
    height:40px;
    gap: 8px;
    border-radius: 4px;
    /* opacity: 0px; */
    background-color: #2A5B45;
    /* border: none; */
    font-family: Outfit;
    font-size: 14px;
    line-height: 16px;
    font-weight: 600;
    color: #FFFFFF;
    }





footer{
    height: 310px;
    background-color: #1F1815;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    box-sizing: border-box;
    color: #FFFFFF;


}

.wrapperFooter{
    display: flex;
    width: 1200px;
    margin-top: 28.61px;
    height: 204px;
    gap: 16px;
    flex-direction: column;


}


.containerFooterInfo{
display: flex;
justify-content: space-between;
width: 1132px;
height: 152px;
position: relative;
}

#logoFooterTitle{
display: flex;
align-items: center;
gap: 7.33px;
width: 186px;
height: 36px;
line-height: 35.19px;
font-weight: 400;
margin: 0;
padding: 0;
font-size: 23.46px;
font-weight: 400;
line-height: 35.19px;
text-align: left;

}

#logoFooterTitle:hover{
    cursor: pointer;
}

#containerHelpFooter{
    width: 255.33px;
    height: 152px;
    display: flex;
    flex-direction: column;
    gap: 16px;

}

#containerHelpFooter p{
    width: 131px;
    height: 24px;
    font-weight: 600;
    font-size: 18px;
    line-height: 24px;
    margin: 0;
}
#containerHelpFooter a{
    text-decoration: none;
}

#containerHelpFooter a:visited{
    color: #FFFFFF;
}

#containerPhone{
background: #515051;
width: 182px;
height: 48px;
display: flex;
gap: 8px;
justify-content: center;
align-items: center;
flex-direction: row;
border-radius: 4px;
}
#containerPhone img{
    height: 24px;
    width: 24px;
    margin: 0;
    display: flex;
}
#containerPhone p{
font-size: 14px;
font-weight: 600;
line-height: 16px;
text-align: left;
margin: 0;
display: flex;
}

#containerMailFooter{
background: #515051;
width: 232px;
height: 48px;
display: flex;
gap: 8px;
justify-content: center;
align-items: center;
flex-direction: row;
border-radius: 4px;
}

#containerListFooter{
width: 96px;
height: 144px;
left: 577px;
gap: 16px;
margin: 0;
padding: 0;
display: flex;
flex-direction: column;
position: absolute;
text-decoration: none;
}

#containerListFooter li{
    text-decoration: none;
    list-style: none;
    margin: 0;
    padding: 0;
    gap: 16px;
    font-size: 14px;
    font-weight: 600;
    line-height: 16px;
}
#containerListFooter a{
    text-decoration: none;
    color: #FFFFFF;
}

#containerListFooter li:hover{
    cursor: pointer;
}

#privacyPolicy{
    display: flex;
    flex-direction: column;
    position: absolute;
    left: 800px;
    width: 255.33px;
    height: 80px;
    top: 3px;
    gap: 16px;
    font-size: 14px;
    font-weight: 600;
    line-height: 16px;
    text-decoration: none;
    list-style: none;
    margin: 0;
    padding: 0;
}

#privacyPolicy a{
    text-decoration: none;
    color: #FFFFFF;
}
#privacyPolicy a:hover{
    cursor: pointer;
}


#copyrightFooter{
    width: 100%;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #2B2A2B;
    ;
    }