/* *{
    margin: 0;
 
} */
body{
    font-family: Outfit;
    margin: 0;
    width: 100%;
}


nav{
background-color: #2B2A2B;
color: #FFFFFF;
display: flex;
height: 64px;
align-items: center;
justify-content: space-around;
}

.containerLogo{
    display: flex;
    align-items: center;
    width: 186px;
    height: 36px;
    gap:7.33px
}
#iconCoffee{
    width: 20.53px;
    height: 24.93px;
}
#logoNav{
font-size: 23.46px;
}


.menuNav{
    display: flex;
    min-width: 512px;
    height: 32px;
    align-items: center;
    
} 
.itemsListNav{
    display: flex;
    list-style: none;
    gap: 16px;
   
    
}

.contactAndLoginNav{
    display: flex;
    min-width: 288px;
    height:40px;
    gap: 24px;
    align-items: center;
}

.contactNav{
    display: flex;
    align-items: center;
    min-width: 134px;
    font-size: 14px;
    gap: 8px;

}
#iconPhone{
    display: flex;
    width: 24px;
    height: 24px;
    
}

#buttonLoginNav{
    background-color: #515051;
    color: #FFFFFF;
    font-family: Outfit;
    height: 100%;
    border-radius: 4px;
    min-width: 130px;
    gap: 8px;
    font-size: 14px;
    line-height: 16px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    height: 40px;
}

/*-------HERO-------*/


.heroMain{
    height: 486px;
    /* background-color: aquamarine; */
    display: flex;
    justify-content: center; 
    align-items: center;
}


.wrapperHeader{
/* background-color: thistle; */
display: flex;
justify-content: center;
align-items: center;
gap: 24px;
}

.copyHeroleftSection{
/* background-color: bisque; */
width: 588px;
max-height: 232px;
display: flex;
flex-direction: column;
}

.copyHeroleftSection h3{
font-size: 18px;
line-height: 24px;
color: #2A5B45;
height: 24px;
}

.copyHeroleftSection h1{
width: 588px;
height: 88px;
font-size: 40px;
line-height: 44px;
}

.copyHeroleftSection p{
    height: 32px;
    font-size: 14px;
    line-height: 16px;
}

.coffeeHarvest{
display: flex;
width: 588px;
height: 390px;
border-radius: 20px;
}

.containerButtonsLeftSectionHero{
    width: 321px;
    height: 40px;
    display: flex;
    gap: 16px;
    

}

#buttonDiscoverCtALeftSection{
width: 168px;
height: 40px;
text-decoration: none;
background: #1F1815;
color: #FFFFFF;
display:flex;
align-items: center;
justify-content:center;
border-radius: 4px;


}

#buttonCtAbuyCoffeeLeftSection{
    width:137px;
    height: 40px;
    text-decoration: none;
    background: #2A5B45;
    color: #FFFFFF;
    display:flex;
    align-items: center;
    justify-content:center;
    font-size: 14px;
    line-height: 16px;
    border-radius: 4px;
}

/*----------MAIN-------*/

.wrapperCards{
display: flex;
background-image: url(/assets/img/cupCoffeeBgCard.png);
width: 100%;
height: 380px;
background-size: cover;
background-repeat: no-repeat;
background-position: center;
flex-direction: column;
align-items: center;
justify-content: center;
}

#titleConditionsCard{
    width: 350px;
    height: 28px;
    font-size: 24px;
    line-height: 28px;
    display: flex; 
    justify-content: center;
    color: #FFFFFF;
}
.containerCards{
    width: 996px;
    height: 232px;
    display: flex;
    gap: 16px;
    justify-content: center;
}

.cardItem{
width: 316px;
min-height: 232px;
background-color:  #FFFFFF;
border-radius: 8px;
display: flex;
flex-direction: column;
align-items: center;
justify-content: center;
text-align: center;
padding: 24px;

}

.containerIconsCard{
    min-width: 64px;
    height: 64px;
    background: #2A5B45;
    border-radius: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 12px;
    
}

/* .iconsCard{
    width: 40px;
    height: 40px;
    color: #FFFFFF;
    display: flex;
    justify-content: center;
    align-items: center; */
}

.subtitleCards{
width: 268px;
height: 24px;
font-size: 18px;
line-height: 24px;
font-weight: 600;
}

.textCard{
    width: 268px;
    height: 32px;
    font-size: 14px;
    line-height: 16px;
}
